:root{
  --ifm-color-primary-lightest: #285A8F;
  --ifm-color-primary-lighter: #244F7F;
  --ifm-color-primary-light: #224C79;
  --ifm-color-primary: #1f456e;
  --ifm-color-primary-dark: #1C3E63;
  --ifm-color-primary-darker: #1A3B5E;
  --ifm-color-primary-darkest: #16304D;
  --ifm-alert-color: #000;
  --ra-admonition-color: #000;
  --ifm-navbar-background-color: #011326;
  --ifm-navbar-link-color: #fff;
  --ifm-navbar-link-hover-color: #f98025;
  /*--ifm-menu-color: white;*/
  --ifm-menu-color-active: #1f456e;
  /*--ifm-link-color: #e37625;*/
  /*--ifm-menu-color-active: #e37625;*/
}

html[data-theme='dark'] {
  /*--ifm-color-primary: #4e89e8;*/
  /*--ifm-color-primary-dark: #5a91ea;*/
  /* any other colors you wish to overwrite */
  --ifm-navbar-link-hover-color: #00adeb;
  --ifm-link-color: #00adeb;
  --ifm-menu-color-active: #00adeb;
  --ifm-color-primary: #00adeb;
  --ifm-color-primary-dark: #00adeb;
  --ifm-alert-color: #000;
  --ra-admonition-color: #000;
}

.navbar__toggle {
  color: white !important;
}

.navbar-sidebar__back {
  color: white !important;
}

@media (max-width: 996px) {
  :root { 
    --ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%)
    hue-rotate(223deg) brightness(104%) contrast(98%);
    --ifm-menu-color: rgb(238, 240, 242);
    --ifm-menu-color-active: #00adeb;
    --ifm-menu-color-background-active: #ffffff0d;
  }
}