/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
    .showcaseSection{
        max-width: 1280px;
    }
}

@media only screen and (min-width: 1500px) {
}

a {
  color: #E37625;
}

.showcaseSection{
  max-width: 1280px;
}
